
<div>
    <h2> PAGINA NUMEROS RANDOMS </h2>
    <div>
        <h3>Todos los numeros randoms:</h3>
        {{#if objetoUtils.lenght}}
            <li>{{this.todosLosNumeros}}</li>
        {{/if}}
    </div>
    <div>
        <h3>Cantidad de veces que se repitio un numero:</h3>
        <ul>
            {{#if objetoUtils.lenght}}
                    {{#if vecesRepetidos.lenght}}
                        {{#each objetoClaveValor}}
                            <li>El numero {{this.numero}} se repiti贸 {{this.valor}} veces</li>
                            {{!-- <li>El numero {{objetoClaveValor.numero}} se repiti贸 {{objetoClaveValor.valor}} veces</li> --}}
                        {{/each}}
                    {{/if}}
            {{/if}}
        </ul>
    </div>
    <div>
        <button class="btn btn-success" onclick="location.href='/api/autenticacion/login'">Ir pagina de inicio</button>
    </div>
</div>


{{!-- <li>El numero {{array[1].name}} se repiti贸 {{array[1].value}} veces</li> --}}

{{!-- <li>El numero {{this.numero}} se repiti贸 {{this.valor}} veces</li> --}}


{{!-- 
    objetoUtils.todosLosNumeros = totalNrosGenerados;
    objetoUtils.vecesRepetidos = objetoClaveValor; --}}




